#myBrand {
  font-size: 1.75rem;
  background-color: #ECEFF1;
}

.navbar.is-light .navbar-brand>a.navbar-item:hover {
    background-color: #cfd8da8a;
    color: #363636
}

.navbar-item {
  transition-property: background;
  transition-duration: 0.25s;
}

#myNavItems {
  font-size: 1.2rem;
  font-weight: 500;
}

.myFooter {
  font-size: 1.3rem;
  padding: 2rem 1.5rem 2rem;
}

.navbar.is-light .navbar-end>a.navbar-item.is-active {
      background-color: #cfd8da8a;
}

.navbar.is-light {
    background-color: #ECEFF1;
  }

  .footer {
    background-color: #ECEFF1;
  }

.clink {
  padding: 1.8rem;
  font-size: 2rem;
}

.navbar.is-light .navbar-end>a.navbar-item:hover {
  background-color: #cfd8da8a;
}

.img{
  text-align: center;
}

.section {
  text-align: center;
}

#myGif {
  border-radius: 15em;
  width: 15.5em;
  height: 15em;
}

.subtitle {
  font-size: 1.5em;
}

#special {
  height: 12em;
  padding: 0 auto;
}

.myl {
  margin: 0.5em;
  font-weight: 500;
}

.skill {
  padding-bottom: 0;
}

.myLogo {
  padding-bottom: 2em;
}

.workP {
  font-size: 1.21em;
}

.pDetails {
  font-size: 1.1em;
}

.card {
  margin: 0.5em;
}

figure {
  margin: auto;
}

.skillImg {
  height: 5.5em;
}

.is-half {
  margin: 0.5em;
}

iframe  {
  height: 100%;
}

.label {
  text-align: left;
}
