#myBrand {
  font-size: 1.75rem;
}

#myNavItems {
  font-size: 1.2rem;
  font-weight: 500;
}

.myFooter {
  font-size: 1.3rem;
}

.navbar.is-light .navbar-end>a.navbar-item.is-active {
      background-color: #cfd8da8a;
}

.navbar.is-light {
    background-color: #ECEFF1;
  }

  .footer {
    background-color: #ECEFF1;
  }

.clink {
  padding: 1.8rem;
  font-size: 2rem;
}

.navbar.is-light .navbar-end>a.navbar-item:hover {
  background-color: #cfd8da8a;
}

.img{
  text-align: center;
}

.section {
  text-align: center;
}

#myGif {
  border-radius: 15em;
  width: 15.5em;
  height: 15em;
}
